In [1]:
import pandas as pd
import numpy as np
import gdown

### PROMOCJA

In [8]:
# Google Drive file IDs for the p files
file_ids_p = {
    "p2019": "19_qXDaGG7LB57QPmsWebSnnx3ngdI5MU",
    "p2020": "1itS4tU4DkDtz0nPkQbEOYTFiEDj1_sIZ",
    "p2021": "1luVhD_TM6CIjK_g9OH8fNSb3pntnZuL5",
    "p2022": "1JS7fk35LnrtXPnsXAWHg8Pd1Ez6rmAGh",
    "p2023": "1Vnd2UC2ZV0b1AOyGUp1QnIqba0hgKNvn",
}

# Download the p files
for year, file_id in file_ids_p.items():
    url = f"https://drive.google.com/uc?id={file_id}"
    file_extension = f"{year}.xlsx"
    gdown.download(url, file_extension, quiet=False)

# Load data into Pandas DataFrames for p
p2019 = pd.read_excel("p2019.xlsx", sheet_name=0, skiprows=2, names=['podmiot', 'promocja'])
p2020 = pd.read_excel("p2020.xlsx", sheet_name=0, skiprows=2, names=['podmiot', 'promocja'])
p2021 = pd.read_excel("p2021.xlsx", sheet_name=1, names=['podmiot', 'brak', 'szkoly', 'targi'])
p2022 = pd.read_excel("p2022.xlsx", sheet_name=0, names=['podmiot', 'brak', 'szkoly', 'targi'])
p2023 = pd.read_excel("p2023.xlsx", sheet_name=0, names=['podmiot', 'brak', 'szkoly', 'targi'], skipfooter=2)

# Display the first few rows for verification
p2019.head()

Downloading...
From: https://drive.google.com/uc?id=19_qXDaGG7LB57QPmsWebSnnx3ngdI5MU
To: C:\Users\KW\PycharmProjects\2024-mgr-sluzba-cywilna\Python\Code\p2019.xlsx
100%|██████████| 468k/468k [00:00<00:00, 5.35MB/s]
Downloading...
From: https://drive.google.com/uc?id=1itS4tU4DkDtz0nPkQbEOYTFiEDj1_sIZ
To: C:\Users\KW\PycharmProjects\2024-mgr-sluzba-cywilna\Python\Code\p2020.xlsx
100%|██████████| 534k/534k [00:00<00:00, 6.66MB/s]
Downloading...
From: https://drive.google.com/uc?id=1luVhD_TM6CIjK_g9OH8fNSb3pntnZuL5
To: C:\Users\KW\PycharmProjects\2024-mgr-sluzba-cywilna\Python\Code\p2021.xlsx
100%|██████████| 412k/412k [00:00<00:00, 4.88MB/s]
Downloading...
From: https://drive.google.com/uc?id=1JS7fk35LnrtXPnsXAWHg8Pd1Ez6rmAGh
To: C:\Users\KW\PycharmProjects\2024-mgr-sluzba-cywilna\Python\Code\p2022.xlsx
100%|██████████| 58.7k/58.7k [00:00<00:00, 2.44MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Vnd2UC2ZV0b1AOyGUp1QnIqba0hgKNvn
To: C:\Users\KW\PycharmProjects\2024-mgr-sluzba-cywilna\Python\Code\p2023.xlsx
100%|██████████| 61.9k/61.9k [00:00<00:00, 4.02MB/s]

,podmiot,promocja
0,Archiwum Główne Akt Dawnych w Warszawie,"Udział w Nocy Muzeów,udział w wydarzeniu Archi..."
1,Archiwum Państwowe w Białymstoku,Przeprowadziliśmy 6 lekcji dla młodzieży szkol...
2,Archiwum Państwowe w Bydgoszczy,"Popularyzacja zasobu Archiwum:Wystawy, publika..."
3,Archiwum Państwowe w Elblągu z siedzibą w Malb...,"noc muzeów,lekcje archiwalne dla dzieci i młod..."
4,Archiwum Państwowe w Gorzowie Wielkopolskim,"Organizowane były konferencje, lekcje archiwal..."

In [9]:
p2019['promocja'] = 1
p2020['promocja'] = 1

p2021['promocja'] = np.where(p2021['szkoly'] | p2021['targi'], 1, 0)


p2022['promocja'] = np.where(p2022['szkoly'] | p2022['targi'], 1, 0)


p2023['promocja'] = np.where(p2023['szkoly'] | p2023['targi'], 1, 0)

p2019['rok'] = 2019
p2020['rok'] = 2020
p2021['rok'] = 2021
p2022['rok'] = 2022
p2023['rok'] = 2023

In [10]:
p2019f = p2019.copy()
p2020f = p2020.copy()
p2021f=p2021[['podmiot', 'promocja', 'rok']].copy()
p2022f=p2022[['podmiot', 'promocja', 'rok']].copy()
p2023f=p2023[['podmiot','promocja', 'rok']].copy()

In [11]:
p2019f['podmiot'] = p2019f['podmiot'].str.replace(' ', '').str.lower()
p2020f['podmiot'] = p2020f['podmiot'].str.replace(' ', '').str.lower()
p2021f['podmiot'] = p2021f['podmiot'].str.replace(' ', '').str.lower()
p2022f['podmiot'] = p2022f['podmiot'].str.replace(' ', '').str.lower()
p2023f['podmiot'] = p2023f['podmiot'].str.replace(' ', '').str.lower()

In [12]:
promocja = pd.concat([p2019f, p2020f, p2021f, p2022f, p2023f], ignore_index=True)
promocja = promocja[['rok', 'podmiot', 'promocja']]

In [14]:
promocja.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6343 entries, 0 to 6342
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rok       6343 non-null   int64
 1   podmiot   6343 non-null   object
 2   promocja  6343 non-null   int64
dtypes: int64(2), object(1)
memory usage: 148.8+ KB

### NABORY

In [20]:
# Google Drive file ID for the n files
file_id_n = "1DCmDtPdFs-j0kO9UV1zalpokaonDnmyp"
url_n = f"https://drive.google.com/uc?id={file_id_n}"
file_n_extension = "n.xlsx"

# Download the n file
gdown.download(url_n, file_n_extension, quiet=False)

# Load data into Pandas DataFrames for n
n2023 = pd.read_excel(file_n_extension, sheet_name=0, names=['podmiot', 'kandydaci'], usecols=[1, 2])
n2022 = pd.read_excel(file_n_extension, sheet_name=1, names=['podmiot', 'kandydaci'], usecols=[1, 2])
n2021 = pd.read_excel(file_n_extension, sheet_name=2, names=['podmiot', 'kandydaci'], usecols=[1, 2])
n2020 = pd.read_excel(file_n_extension, sheet_name=3, names=['podmiot', 'kandydaci'], usecols=[1, 2])
n2019 = pd.read_excel(file_n_extension, sheet_name=4, names=['podmiot', 'kandydaci'], usecols=[1, 2])
n2018 = pd.read_excel(file_n_extension, sheet_name=5, names=['podmiot', 'kandydaci'], usecols=[1, 2])

# Display the first few rows for verification
n2023.head()

Downloading...
From: https://drive.google.com/uc?id=1DCmDtPdFs-j0kO9UV1zalpokaonDnmyp
To: /Users/Manuela/PycharmProjects/systemyWyszukiwawcze/2024-mgr-sluzba-cywilna/Python/Code/n.xlsx
100%|██████████| 203k/203k [00:00<00:00, 2.79MB/s]

                                             podmiot kandydaci
0                Archiwum Państwowe w Zielonej Górze     16.75
1  Wojewódzki Inspektorat Jakości Handlowej Artyk...      1.75
2  Wojewódzki Inspektorat Jakości Handlowej Artyk...     5.875
3  Wojewódzki Inspektorat Jakości Handlowej Artyk...         6
4  Wojewódzki Inspektorat Jakości Handlowej Artyk...  7.777778

In [21]:
n2023f = n2023.copy()
n2022f = n2022.copy()
n2021f = n2021.copy()
n2020f = n2020.copy()
n2019f = n2019.copy()
n2018f = n2018.copy()

n2018f['rok'] = 2018
n2019f['rok'] = 2019
n2020f['rok'] = 2020
n2021f['rok'] = 2021
n2022f['rok'] = 2022
n2023f['rok'] = 2023

In [22]:
n2023f['podmiot'] = n2023f['podmiot'].str.replace(' ', '').str.lower()
n2022f['podmiot'] = n2022f['podmiot'].str.replace(' ', '').str.lower()
n2021f['podmiot'] = n2021f['podmiot'].str.replace(' ', '').str.lower()
n2020f['podmiot'] = n2020f['podmiot'].str.replace(' ', '').str.lower()
n2019f['podmiot'] = n2019f['podmiot'].str.replace(' ', '').str.lower()
n2018f['podmiot'] = n2018f['podmiot'].str.replace(' ', '').str.lower()
n2018f.head()

                              podmiot  kandydaci   rok
0         archiwumaktnowychwwarszawie  12.785714  2018
1  archiwumgłówneaktdawnychwwarszawie        5.6  2018
2           archiwumnarodowewkrakowie         11  2018
3       archiwumpaństwowewbiałymstoku          4  2018
4        archiwumpaństwowewbydgoszczy  22.666667  2018

In [23]:
nabory = pd.concat([n2018f, n2019f, n2020f, n2021f, n2022f, n2023f], ignore_index=True)
nabory = nabory[['rok', 'podmiot', 'kandydaci']]
nabory['kandydaci'] = pd.to_numeric(nabory['kandydaci'], errors='coerce').fillna(0)

nabory.dtypes

rok            int64
podmiot       object
kandydaci    float64
dtype: object

### WYNAGRODZENIA, FLUKTUACJA, KOBIETY

In [23]:
# Google Drive file ID for the zatr_wyn_fluk_kob.xlsx
file_id_zatr_wyn = "1rPTYy4v5-sZD6JcgX1lHUWZ91Y6m093-"
url_zatr_wyn = f"https://drive.google.com/uc?id={file_id_zatr_wyn}"
file_zatr_wyn_extension = "zatr_wyn_fluk_kob.xlsx"

# Download the zatr_wyn_fluk_kob.xlsx file
gdown.download(url_zatr_wyn, file_zatr_wyn_extension, quiet=False)

# Load data into Pandas DataFrames for zatr_wyn, fluk, and kob
zatr_wyn = pd.read_excel(file_zatr_wyn_extension, sheet_name=0, usecols=[0, 2, 5, 6, 7], names=['rok', 'podmiot', 'grupa_stanowisk', 'zatr_etat', 'wynagrodzenie'], skipfooter=1)
fluk = pd.read_excel(file_zatr_wyn_extension, sheet_name=1, usecols=[0, 2, 5], names=['rok', 'podmiot', 'fluktuacja'])
kob = pd.read_excel(file_zatr_wyn_extension, sheet_name=2, usecols=[0, 2, 5], names=['rok', 'podmiot', 'kobiety'])

zatr_wyn.head()

Downloading...
From: https://drive.google.com/uc?id=1rPTYy4v5-sZD6JcgX1lHUWZ91Y6m093-
To: C:\Users\KW\PycharmProjects\2024-mgr-sluzba-cywilna\Python\Code\zatr_wyn_fluk_kob.xlsx
100%|██████████| 3.54M/3.54M [00:00<00:00, 19.7MB/s]

,rok,podmiot,grupa_stanowisk,zatr_etat,wynagrodzenie
0,2018 r.,Izba Administracji Skarbowej w Białymstoku,Stanowiska koordynujące,138.74,8786.639277
1,2018 r.,Izba Administracji Skarbowej w Białymstoku,Stanowiska samodzielne,533.27,6589.990374
2,2018 r.,Izba Administracji Skarbowej w Białymstoku,Stanowiska specjalistyczne,594.24,5446.807407
3,2018 r.,Izba Administracji Skarbowej w Białymstoku,Stanowiska średniego szczebla zarządzania,NaN,NaN
4,2018 r.,Izba Administracji Skarbowej w Białymstoku,Stanowiska wspomagające,15.98,4902.273675

In [24]:
zatr_wyn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70066 entries, 0 to 70065
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rok              70066 non-null  object
 1   podmiot          70066 non-null  object
 2   grupa_stanowisk  70066 non-null  object
 3   zatr_etat        35988 non-null  float64
 4   wynagrodzenie    22578 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.7+ MB

In [21]:
zatr_wyn['rok'] = zatr_wyn['rok'].str.slice(0, 4).astype(int)
zatr_wyn['podmiot'] = zatr_wyn['podmiot'].str.replace(' ', '').str.lower()

fluk['rok'] = fluk['rok'].str.slice(0, 4).astype(int)
fluk['podmiot'] = fluk['podmiot'].str.replace(' ', '').str.lower()
fluk['fluktuacja'] = pd.to_numeric(fluk['fluktuacja'], errors='coerce').fillna(0)

kob['rok'] = kob['rok'].str.slice(0, 4).astype(int)
kob['podmiot'] = fluk['podmiot'].str.replace(' ', '').str.lower()
kob['kobiety'] = pd.to_numeric(kob['kobiety'], errors='coerce').fillna(0)

In [27]:
fluk_kob = fluk.merge(kob, on=['podmiot', 'rok'], how='outer')
fluk_kob

        rok                                podmiot  fluktuacja   kobiety
0      2018            archiwumaktnowychwwarszawie    0.191838  0.661290
1      2019            archiwumaktnowychwwarszawie    0.154607  0.625000
2      2020            archiwumaktnowychwwarszawie    0.151381  0.597561
3      2021            archiwumaktnowychwwarszawie    0.163043  0.580645
4      2022            archiwumaktnowychwwarszawie    0.104762  0.591837
...     ...                                    ...         ...       ...
10804  2019  świętokrzyskiurządwojewódzkiwkielcach    0.142307  0.753425
10805  2020  świętokrzyskiurządwojewódzkiwkielcach    0.102712  0.777465
10806  2021  świętokrzyskiurządwojewódzkiwkielcach    0.066502  0.771186
10807  2022  świętokrzyskiurządwojewódzkiwkielcach    0.105711  0.693627
10808  2023  świętokrzyskiurządwojewódzkiwkielcach    0.096318  0.775510

[10809 rows x 4 columns]

In [28]:
zatr_wyn.head()

,rok,podmiot,grupa_stanowisk,zatr_etat,wynagrodzenie
0,2018,izbaadministracjiskarbowejwbiałymstoku,Stanowiska koordynujące,138.74,8786.639277
1,2018,izbaadministracjiskarbowejwbiałymstoku,Stanowiska samodzielne,533.27,6589.990374
2,2018,izbaadministracjiskarbowejwbiałymstoku,Stanowiska specjalistyczne,594.24,5446.807407
3,2018,izbaadministracjiskarbowejwbiałymstoku,Stanowiska średniego szczebla zarządzania,NaN,NaN
4,2018,izbaadministracjiskarbowejwbiałymstoku,Stanowiska wspomagające,15.98,4902.273675

In [29]:
kprm_pn = pd.merge(promocja, nabory, on =['rok', 'podmiot'], how='outer')
kprm_pnfk = pd.merge(kprm_pn, fluk_kob, on =['rok', 'podmiot'], how='outer')

In [30]:
kprm_pnfk.head(10000)

,rok,podmiot,promocja,kandydaci,fluktuacja,kobiety
0,2018,archiwumaktnowychwwarszawie,NaN,12.785714,0.191838,0.661290
1,2018,archiwumgłówneaktdawnychwwarszawie,NaN,5.600000,0.112994,0.622222
2,2018,archiwumnarodowewkrakowie,NaN,11.000000,0.026219,0.740741
3,2018,archiwumpaństwowewbiałymstoku,NaN,4.000000,0.000000,0.550000
4,2018,archiwumpaństwowewbydgoszczy,NaN,22.666667,0.060459,0.288462
...,...,...,...,...,...,...
9995,2023,powiatowyinspektoratnadzorubudowlanegowbraniewie,0.0,1.000000,0.250000,0.571429
9996,2023,powiatowyinspektoratnadzorubudowlanegowbrodnicy,0.0,0.000000,0.000000,1.000000
9997,2023,powiatowyinspektoratnadzorubudowlanegowbrzegu,0.0,0.000000,0.000000,1.000000
9998,2023,powiatowyinspektoratnadzorubudowlanegowbrzesku,0.0,5.000000,0.000000,0.833333
9999,2023,powiatowyinspektoratnadzorubudowlanegowbrzezinach,0.0,0.000000,0.250000,0.500000

In [31]:
kprm_pnfk.to_csv('kprm_pnfk.csv', index=False)
zatr_wyn.to_csv('zatr_wyn.csv', index=False)