In [122]:
import pandas as pd
import numpy as np
import gdown

### PROMOCJA

In [123]:
p2019 = pd.read_excel('/Users/Manuela/PycharmProjects/mgr/Data/kprm/PROMOCJA/p2019.xls', sheet_name=0, skiprows=2, names=['podmiot', 'promocja'])
p2020 = pd.read_excel('/Users/Manuela/PycharmProjects/mgr/Data/kprm/PROMOCJA/p2020.xls', sheet_name=0, skiprows=2, names=['podmiot', 'promocja'])
p2021 = pd.read_excel('/Users/Manuela/PycharmProjects/mgr/Data/kprm/PROMOCJA/p2021.xlsx', sheet_name=1, names=['podmiot', 'brak', 'szkoly', 'targi'] )
p2022 = pd.read_excel('/Users/Manuela/PycharmProjects/mgr/Data/kprm/PROMOCJA/p2022.xlsx', sheet_name=0, names=['podmiot', 'brak', 'szkoly', 'targi'] )
p2023 = pd.read_excel('/Users/Manuela/PycharmProjects/mgr/Data/kprm/PROMOCJA/p2023.xlsx', sheet_name=0, names=['podmiot', 'brak', 'szkoly', 'targi'], skipfooter=2 )
p2019.head()

,podmiot,promocja
0,Archiwum Główne Akt Dawnych w Warszawie,"Udział w Nocy Muzeów,udział w wydarzeniu Archi..."
1,Archiwum Państwowe w Białymstoku,Przeprowadziliśmy 6 lekcji dla młodzieży szkol...
2,Archiwum Państwowe w Bydgoszczy,"Popularyzacja zasobu Archiwum:Wystawy, publika..."
3,Archiwum Państwowe w Elblągu z siedzibą w Malb...,"noc muzeów,lekcje archiwalne dla dzieci i młod..."
4,Archiwum Państwowe w Gorzowie Wielkopolskim,"Organizowane były konferencje, lekcje archiwal..."

In [124]:
p2019['promocja'] = 1
p2020['promocja'] = 1

p2021['promocja'] = np.where(p2021['szkoly'] | p2021['targi'], 1, 0)


p2022['promocja'] = np.where(p2022['szkoly'] | p2022['targi'], 1, 0)


p2023['promocja'] = np.where(p2023['szkoly'] | p2023['targi'], 1, 0)

p2019['rok'] = 2019
p2020['rok'] = 2020
p2021['rok'] = 2021
p2022['rok'] = 2022
p2023['rok'] = 2023

In [125]:
p2019f = p2019.copy()
p2020f = p2020.copy()
p2021f=p2021[['podmiot', 'promocja', 'rok']].copy()
p2022f=p2022[['podmiot', 'promocja', 'rok']].copy()
p2023f=p2023[['podmiot','promocja', 'rok']].copy()

In [126]:
p2019f['podmiot'] = p2019f['podmiot'].str.replace(' ', '').str.lower()
p2020f['podmiot'] = p2020f['podmiot'].str.replace(' ', '').str.lower()
p2021f['podmiot'] = p2021f['podmiot'].str.replace(' ', '').str.lower()
p2022f['podmiot'] = p2022f['podmiot'].str.replace(' ', '').str.lower()
p2023f['podmiot'] = p2023f['podmiot'].str.replace(' ', '').str.lower()

In [127]:
promocja = pd.concat([p2019f, p2020f, p2021f, p2022f, p2023f], ignore_index=True)
promocja = promocja[['rok', 'podmiot', 'promocja']]

### NABORY

In [128]:
n2023 = pd.read_excel('/Users/Manuela/PycharmProjects/mgr/Data/kprm/NABORY/n.xlsx', sheet_name=0, names=['podmiot', 'kandydaci'], usecols=[1,2])
n2022 = pd.read_excel('/Users/Manuela/PycharmProjects/mgr/Data/kprm/NABORY/n.xlsx', sheet_name=1, names=['podmiot', 'kandydaci'], usecols=[1,2])
n2021 = pd.read_excel('/Users/Manuela/PycharmProjects/mgr/Data/kprm/NABORY/n.xlsx', sheet_name=2, names=['podmiot', 'kandydaci'], usecols=[1,2])
n2020 = pd.read_excel('/Users/Manuela/PycharmProjects/mgr/Data/kprm/NABORY/n.xlsx', sheet_name=3, names=['podmiot', 'kandydaci'], usecols=[1,2])
n2019 = pd.read_excel('/Users/Manuela/PycharmProjects/mgr/Data/kprm/NABORY/n.xlsx', sheet_name=4, names=['podmiot', 'kandydaci'], usecols=[1,2])
n2018 = pd.read_excel('/Users/Manuela/PycharmProjects/mgr/Data/kprm/NABORY/n.xlsx', sheet_name=5, names=['podmiot', 'kandydaci'], usecols=[1,2])

In [129]:
n2023f = n2023.copy()
n2022f = n2022.copy()
n2021f = n2021.copy()
n2020f = n2020.copy()
n2019f = n2019.copy()
n2018f = n2018.copy()

n2018f['rok'] = 2018
n2019f['rok'] = 2019
n2020f['rok'] = 2020
n2021f['rok'] = 2021
n2022f['rok'] = 2022
n2023f['rok'] = 2023

In [130]:
n2023f['podmiot'] = n2023f['podmiot'].str.replace(' ', '').str.lower()
n2022f['podmiot'] = n2022f['podmiot'].str.replace(' ', '').str.lower()
n2021f['podmiot'] = n2021f['podmiot'].str.replace(' ', '').str.lower()
n2020f['podmiot'] = n2020f['podmiot'].str.replace(' ', '').str.lower()
n2019f['podmiot'] = n2019f['podmiot'].str.replace(' ', '').str.lower()
n2018f['podmiot'] = n2018f['podmiot'].str.replace(' ', '').str.lower()
n2018f.head()

                              podmiot          kandydaci   rok
0         archiwumaktnowychwwarszawie 12.785714285714286  2018
1  archiwumgłówneaktdawnychwwarszawie  5.600000000000000  2018
2           archiwumnarodowewkrakowie                 11  2018
3       archiwumpaństwowewbiałymstoku                  4  2018
4        archiwumpaństwowewbydgoszczy 22.666666666666668  2018

In [131]:
nabory = pd.concat([n2018f, n2019f, n2020f, n2021f, n2022f, n2023f], ignore_index=True)
nabory = nabory[['rok', 'podmiot', 'kandydaci']]
nabory['kandydaci'] = pd.to_numeric(nabory['kandydaci'], errors='coerce').fillna(0)

nabory.dtypes

rok            int64
podmiot       object
kandydaci    float64
dtype: object

### WYNAGRODZENIA, FLUKTUACJA, KOBIETY

In [132]:
zatr_wyn = pd.read_excel('/Users/Manuela/PycharmProjects/mgr/Data/kprm/WYNAGRODZNIA_FLUKTUACJA_PRACAZDALNA/zat_wyn_fluk_kob.xlsx', sheet_name=0, usecols=[0,2,5,6,7], names=['rok', 'podmiot', 'grupa_stanowisk', 'zatr_etat', 'wynagrodzenie'], skipfooter=1)
fluk = pd.read_excel('/Users/Manuela/PycharmProjects/mgr/Data/kprm/WYNAGRODZNIA_FLUKTUACJA_PRACAZDALNA/zat_wyn_fluk_kob.xlsx', sheet_name=1, usecols=[0,2,5],names=['rok', 'podmiot', 'fluktuacja'])
kob = pd.read_excel('/Users/Manuela/PycharmProjects/mgr/Data/kprm/WYNAGRODZNIA_FLUKTUACJA_PRACAZDALNA/zat_wyn_fluk_kob.xlsx', sheet_name=2, usecols=[0,2,5],names=['rok', 'podmiot', 'kobiety'])

In [133]:
zatr_wyn['rok'] = zatr_wyn['rok'].str.slice(0, 4).astype(int)
zatr_wyn['podmiot'] = zatr_wyn['podmiot'].str.replace(' ', '').str.lower()

fluk['rok'] = fluk['rok'].str.slice(0, 4).astype(int)
fluk['podmiot'] = fluk['podmiot'].str.replace(' ', '').str.lower()
fluk['fluktuacja'] = pd.to_numeric(fluk['fluktuacja'], errors='coerce').fillna(0)

kob['rok'] = kob['rok'].str.slice(0, 4).astype(int)
kob['podmiot'] = fluk['podmiot'].str.replace(' ', '').str.lower()
kob['kobiety'] = pd.to_numeric(kob['kobiety'], errors='coerce').fillna(0)

In [134]:
fluk.dtypes

rok             int64
podmiot        object
fluktuacja    float64
dtype: object

In [135]:
fluk_kob = fluk.merge(kob, on=['podmiot', 'rok'], how='outer')
fluk_kob

,rok,podmiot,fluktuacja,kobiety
0,2018,archiwumaktnowychwwarszawie,0.191838158353680,0.661290322580645
1,2019,archiwumaktnowychwwarszawie,0.154607297464440,0.625000000000000
2,2020,archiwumaktnowychwwarszawie,0.151381354863126,0.597560975609756
3,2021,archiwumaktnowychwwarszawie,0.163043478260870,0.580645161290323
4,2022,archiwumaktnowychwwarszawie,0.104761904761905,0.591836734693878
...,...,...,...,...
10804,2019,świętokrzyskiurządwojewódzkiwkielcach,0.142307048384396,0.753424657534247
10805,2020,świętokrzyskiurządwojewódzkiwkielcach,0.102712156122477,0.777464788732394
10806,2021,świętokrzyskiurządwojewódzkiwkielcach,0.066502258305855,0.771186440677966
10807,2022,świętokrzyskiurządwojewódzkiwkielcach,0.105711110508769,0.693627450980392
10808,2023,świętokrzyskiurządwojewódzkiwkielcach,0.096318493150685,0.775510204081633

In [136]:
zatr_wyn.head()

,rok,podmiot,grupa_stanowisk,zatr_etat,wynagrodzenie
0,2018,izbaadministracjiskarbowejwbiałymstoku,Stanowiska koordynujące,138.740000000000009,8786.639277305272117
1,2018,izbaadministracjiskarbowejwbiałymstoku,Stanowiska samodzielne,533.269999999999982,6589.990373856895530
2,2018,izbaadministracjiskarbowejwbiałymstoku,Stanowiska specjalistyczne,594.240000000000009,5446.807406659487242
3,2018,izbaadministracjiskarbowejwbiałymstoku,Stanowiska średniego szczebla zarządzania,NaN,NaN
4,2018,izbaadministracjiskarbowejwbiałymstoku,Stanowiska wspomagające,15.980000000000000,4902.273675427617491

In [142]:
kprm_pn = pd.merge(promocja, nabory, on =['rok', 'podmiot'], how='outer')
kprm_pnfk = pd.merge(kprm_pn, fluk_kob, on =['rok', 'podmiot'], how='outer')

In [145]:
kprm_pnfk.head(10000)

,rok,podmiot,promocja,kandydaci,_merge,fluktuacja,kobiety
0,2018,archiwumaktnowychwwarszawie,NaN,12.785714285714286,right_only,0.191838158353680,0.661290322580645
1,2018,archiwumgłówneaktdawnychwwarszawie,NaN,5.600000000000000,right_only,0.112994350282486,0.622222222222222
2,2018,archiwumnarodowewkrakowie,NaN,11.000000000000000,right_only,0.026219192448873,0.740740740740741
3,2018,archiwumpaństwowewbiałymstoku,NaN,4.000000000000000,right_only,0.000000000000000,0.550000000000000
4,2018,archiwumpaństwowewbydgoszczy,NaN,22.666666666666668,right_only,0.060459492140266,0.288461538461538
...,...,...,...,...,...,...,...
9995,2023,powiatowyinspektoratnadzorubudowlanegowbraniewie,0.000000000000000,1.000000000000000,both,0.250000000000000,0.571428571428571
9996,2023,powiatowyinspektoratnadzorubudowlanegowbrodnicy,0.000000000000000,0.000000000000000,both,0.000000000000000,1.000000000000000
9997,2023,powiatowyinspektoratnadzorubudowlanegowbrzegu,0.000000000000000,0.000000000000000,both,0.000000000000000,1.000000000000000
9998,2023,powiatowyinspektoratnadzorubudowlanegowbrzesku,0.000000000000000,5.000000000000000,both,0.000000000000000,0.833333333333333
9999,2023,powiatowyinspektoratnadzorubudowlanegowbrzezinach,0.000000000000000,0.000000000000000,both,0.250000000000000,0.500000000000000

In [139]:
kprm_pnfk.to_csv('/Users/Manuela/PycharmProjects/mgr/Data/kprm/kprm_pnfk.csv', index=False)
zatr_wyn.to_csv('/Users/Manuela/PycharmProjects/mgr/Data/kprm/zatr_wyn.csv', index=False)