In [1]:
import pandas as pd
import gdown

### Loading data

In [2]:
# Additional KPRM data - candidates.
file_id = "1b7nKk6yu8Owz90QfCRwMRRWXAP2zMhIP"
url = f"https://drive.google.com/uc?id={file_id}"
file_extension = "downloaded_file.csv"
gdown.download(url, file_extension, quiet=False)
kprm_kandydaci = pd.read_csv(file_extension, sep=",")
kprm_kandydaci.head()

Downloading...
From: https://drive.google.com/uc?id=1b7nKk6yu8Owz90QfCRwMRRWXAP2zMhIP
To: C:\Users\KW\PycharmProjects\2024-mgr-sluzba-cywilna\Python\Code\downloaded_file.csv
100%|██████████| 907k/907k [00:00<00:00, 9.31MB/s]

,rok,podmiot,promocja,kandydaci,fluktuacja,kobiety
0,2018,archiwumaktnowychwwarszawie,NaN,12.785714,0.191838,0.661290
1,2018,archiwumgłówneaktdawnychwwarszawie,NaN,5.600000,0.112994,0.622222
2,2018,archiwumnarodowewkrakowie,NaN,11.000000,0.026219,0.740741
3,2018,archiwumpaństwowewbiałymstoku,NaN,4.000000,0.000000,0.550000
4,2018,archiwumpaństwowewbydgoszczy,NaN,22.666667,0.060459,0.288462

In [3]:
# Additional KPRM data - employment.
file_id = "1aUf3-XXXoTzW3Ff33mgDHbpp-1elKqSA"
url = f"https://drive.google.com/uc?id={file_id}"
file_extension = "downloaded_file.csv"
gdown.download(url, file_extension, quiet=False)
kprm_zatrudnienie = pd.read_csv(file_extension, sep=",")
kprm_zatrudnienie.head()

Downloading...
From: https://drive.google.com/uc?id=1aUf3-XXXoTzW3Ff33mgDHbpp-1elKqSA
To: C:\Users\KW\PycharmProjects\2024-mgr-sluzba-cywilna\Python\Code\downloaded_file.csv
100%|██████████| 6.01M/6.01M [00:00<00:00, 13.1MB/s]

,rok,podmiot,grupa_stanowisk,zatr_etat,wynagrodzenie
0,2018,izbaadministracjiskarbowejwbiałymstoku,Stanowiska koordynujące,138.74,8786.639277
1,2018,izbaadministracjiskarbowejwbiałymstoku,Stanowiska samodzielne,533.27,6589.990374
2,2018,izbaadministracjiskarbowejwbiałymstoku,Stanowiska specjalistyczne,594.24,5446.807407
3,2018,izbaadministracjiskarbowejwbiałymstoku,Stanowiska średniego szczebla zarządzania,NaN,NaN
4,2018,izbaadministracjiskarbowejwbiałymstoku,Stanowiska wspomagające,15.98,4902.273675

In [4]:
# Main data.
file_id = "1A71j8RJUzNZes3GkZEAVkj0pEK5OvT71"
url = f"https://drive.google.com/uc?id={file_id}"
file_extension = "downloaded_file.csv"
gdown.download(url, file_extension, quiet=False)
main_df = pd.read_csv(file_extension, sep=",")
main_df.head()

Downloading...
From (original): https://drive.google.com/uc?id=1A71j8RJUzNZes3GkZEAVkj0pEK5OvT71
From (redirected): https://drive.google.com/uc?id=1A71j8RJUzNZes3GkZEAVkj0pEK5OvT71&confirm=t&uuid=c970bf68-9331-4ace-8c2f-8528406a158d
To: C:\Users\KW\PycharmProjects\2024-mgr-sluzba-cywilna\Python\Code\downloaded_file.csv
100%|██████████| 247M/247M [00:11<00:00, 21.1MB/s]

,ad_id,result,job_field,position_category,position,education_level,work_time,vacancies,salary,city,institution,workplace,department,institution_address,responsibilities,requirements,nice_to_have,date_announced,views
0,130994,1,vet,stanowiska specjalistyczne,inspektor weterynaryjny,3,0.5,1,nie podano wynagrodzenia,Olesno,Powiatowy Inspektorat Weterynarii w Oleśnie,Olesno,"w Zespole ds. bezpieczeństwa żywności, pasz i ...",ul. Kossaka 5 46-300 Olesno,Sprawuje nadzór nad działalnością TPDW w zakre...,doświadczenie zawodowe: co najmniej 6 miesięcy...,Przeszkolenie w zakiesie pobierania prób.|-|Zn...,2023-12-02,183.0
1,130970,0,tech/construction,stanowiska specjalistyczne,starszy specjalista,3,1.0,1,nie podano wynagrodzenia,Bydgoszcz,Wojewódzki Inspektorat Nadzoru Budowlanego w B...,Bydgoszcz woj. kujawsko-pomorskie,w Wydziale Wyrobów Budowlanych,Ul. Zygmunta Augusta 16 85-082 Bydgoszcz,udział w przygotowaniu i prowadzeniu działań i...,znajomość przepisów w zakresie ustaw: Ustawa o...,doświadczenie zawodowe: w budownictwie i/lub a...,2023-12-01,296.0
2,130898,1,vet,stanowiska wspomagające,asystent,2,1.0,1,"4400,00 zł brutto",Chrzanów,Powiatowy Inspektorat Weterynarii w Chrzanowie,Chrzanów,w zespole ds. administracyjnych,Mjr Grzybowskiego 7 32-500 Chrzanów,"Przyjmuje i ewidencjonuje korespondencję, przy...",Prawo jazdy kat. B|-|Umiejętność obsługi kompu...,Wykształcenie: wyższe ekonomiczne lub administ...,2023-11-30,701.0
3,130919,0,uniformed services,stanowiska specjalistyczne,specjalista,4,1.0,1,"4940,34 zł brutto",Warszawa,Komenda Stołeczna Policji w Warszawie,Warszawa,w Wydziale Teleinformatyki,Ul. Nowolipie 2 00-150 Warszawa,Analizuje i opiniuje pod względem zasadności z...,doświadczenie zawodowe: : powyżej 1 roku w obs...,Wykształcenie: wyższe : ekonomiczne |-|doświad...,2023-11-30,456.0
4,130837,1,vet,stanowiska specjalistyczne,inspektor weterynaryjny,3,1.0,1,nie podano wynagrodzenia,Świdnica,Powiatowy Inspektorat Weterynarii w Świdnicy,Świdnica,Zespół ds. zdrowia i ochrony zwierząt,ul. Wałbrzyska 25-27 58-100 Świdnica,wykonuje czynności z zakresu zwalczania chorób...,prawo wykonywania zawodu lekarza weterynarii|-...,czynne prawo jazdy kat. B,2023-11-29,228.0

### Merging KPRM data part 1 with cleansed main data

In [5]:
kprm_kandydaci.head()

,rok,podmiot,promocja,kandydaci,fluktuacja,kobiety
0,2018,archiwumaktnowychwwarszawie,NaN,12.785714,0.191838,0.661290
1,2018,archiwumgłówneaktdawnychwwarszawie,NaN,5.600000,0.112994,0.622222
2,2018,archiwumnarodowewkrakowie,NaN,11.000000,0.026219,0.740741
3,2018,archiwumpaństwowewbiałymstoku,NaN,4.000000,0.000000,0.550000
4,2018,archiwumpaństwowewbydgoszczy,NaN,22.666667,0.060459,0.288462

In [5]:
# Creating merge fields (institution name in the KPRM data is preprocessed in the same way as below).
main_df["institution_merge_copy"] = main_df["institution"].copy().str.replace(' ', '').str.lower()
main_df["year_announced"] = pd.to_datetime(main_df["date_announced"].copy()).dt.year

# Merging.
initial_first_merge_df = pd.merge(
    main_df, kprm_kandydaci, left_on= ['institution_merge_copy', 'year_announced'], right_on=['podmiot', 'rok'], how='left'
)
initial_first_merge_df.head()

,ad_id,result,job_field,position_category,position,education_level,work_time,vacancies,salary,city,...,date_announced,views,institution_merge_copy,year_announced,rok,podmiot,promocja,kandydaci,fluktuacja,kobiety
0,130994,1,vet,stanowiska specjalistyczne,inspektor weterynaryjny,3,0.5,1,nie podano wynagrodzenia,Olesno,...,2023-12-02,183.0,powiatowyinspektoratweterynariiwoleśnie,2023,2023.0,powiatowyinspektoratweterynariiwoleśnie,1.0,1.0,0.064683,0.666667
1,130970,0,tech/construction,stanowiska specjalistyczne,starszy specjalista,3,1.0,1,nie podano wynagrodzenia,Bydgoszcz,...,2023-12-01,296.0,wojewódzkiinspektoratnadzorubudowlanegowbydgos...,2023,2023.0,wojewódzkiinspektoratnadzorubudowlanegowbydgos...,0.0,4.0,0.036010,0.580645
2,130898,1,vet,stanowiska wspomagające,asystent,2,1.0,1,"4400,00 zł brutto",Chrzanów,...,2023-11-30,701.0,powiatowyinspektoratweterynariiwchrzanowie,2023,2023.0,powiatowyinspektoratweterynariiwchrzanowie,0.0,18.0,0.101215,0.833333
3,130919,0,uniformed services,stanowiska specjalistyczne,specjalista,4,1.0,1,"4940,34 zł brutto",Warszawa,...,2023-11-30,456.0,komendastołecznapolicjiwwarszawie,2023,NaN,NaN,NaN,NaN,NaN,NaN
4,130837,1,vet,stanowiska specjalistyczne,inspektor weterynaryjny,3,1.0,1,nie podano wynagrodzenia,Świdnica,...,2023-11-29,228.0,powiatowyinspektoratweterynariiwświdnicy,2023,2023.0,powiatowyinspektoratweterynariiwświdnicy,1.0,2.0,0.000000,0.833333

In [6]:
# Inspecting the correctness of the merge.
print(
    "Dataframe's total rows: " + str(initial_first_merge_df.shape[0]) + "\n" +
    "Nulls: " + str(initial_first_merge_df["kobiety"].isnull().sum())
)

Dataframe's total rows: 100847
Nulls: 29142

### Merging KPRM data part 2

##### Exploring

In [7]:
kprm_zatrudnienie["grupa_stanowisk"].value_counts()

grupa_stanowisk
Wyższe stanowiska                            10795
Stanowiska samodzielne                       10791
Stanowiska średniego szczebla zarządzania    10791
Stanowiska specjalistyczne                   10791
Stanowiska wspomagające                      10791
Stanowiska koordynujące                      10790
Ogółem                                        5301
Służba zagraniczna                              16
Name: count, dtype: int64

In [8]:
kprm_zatrudnienie.groupby(by='grupa_stanowisk')["wynagrodzenie"].mean().sort_values(ascending=False)

grupa_stanowisk
Wyższe stanowiska                            12393.702466
Stanowiska średniego szczebla zarządzania    11501.904363
Służba zagraniczna                            9200.344638
Stanowiska koordynujące                       8919.742005
Stanowiska samodzielne                        7160.634157
Stanowiska specjalistyczne                    5428.348601
Stanowiska wspomagające                       4782.152827
Ogółem                                                NaN
Name: wynagrodzenie, dtype: float64

In [9]:
main_df["position_category"].value_counts()

position_category
stanowiska specjalistyczne     46524
stanowiska wspomagające        32319
stanowiska samodzielne         19856
stanowiska koordynujące         1413
średni szczebel zarządzania      673
wyższe stanowiska                 50
Name: count, dtype: int64

##### Merging

In [10]:
# Some cleaning first.
kprm_zatrudnienie["grupa_stanowisk"] = kprm_zatrudnienie["grupa_stanowisk"].str.lower()

kprm_zatrudnienie["grupa_stanowisk"] = (
    kprm_zatrudnienie["grupa_stanowisk"]
    .str.strip()
    .str.replace(r'\s+', ' ', regex=True) # replaces multiple spaces with a single space
)

# Repeating the process for the other df.
initial_first_merge_df["position_category"] = initial_first_merge_df["position_category"].str.lower()

initial_first_merge_df["position_category"] = (
    initial_first_merge_df["position_category"]
    .str.strip()
    .str.replace(r'\s+', ' ', regex=True) # replaces multiple spaces with a single space
)

In [11]:
second_merge_df = pd.merge(
    initial_first_merge_df, kprm_zatrudnienie, left_on= ['institution_merge_copy', 'year_announced', 'position_category'], right_on=['podmiot', 'rok', 'grupa_stanowisk'], how='left'
)
second_merge_df.head()

,ad_id,result,job_field,position_category,position,education_level,work_time,vacancies,salary,city,...,podmiot_x,promocja,kandydaci,fluktuacja,kobiety,rok_y,podmiot_y,grupa_stanowisk,zatr_etat,wynagrodzenie
0,130994,1,vet,stanowiska specjalistyczne,inspektor weterynaryjny,3,0.5,1,nie podano wynagrodzenia,Olesno,...,powiatowyinspektoratweterynariiwoleśnie,1.0,1.0,0.064683,0.666667,2023.0,powiatowyinspektoratweterynariiwoleśnie,stanowiska specjalistyczne,8.71,8537.791810
1,130970,0,tech/construction,stanowiska specjalistyczne,starszy specjalista,3,1.0,1,nie podano wynagrodzenia,Bydgoszcz,...,wojewódzkiinspektoratnadzorubudowlanegowbydgos...,0.0,4.0,0.036010,0.580645,2023.0,wojewódzkiinspektoratnadzorubudowlanegowbydgos...,stanowiska specjalistyczne,19.49,8730.802121
2,130898,1,vet,stanowiska wspomagające,asystent,2,1.0,1,"4400,00 zł brutto",Chrzanów,...,powiatowyinspektoratweterynariiwchrzanowie,0.0,18.0,0.101215,0.833333,2023.0,powiatowyinspektoratweterynariiwchrzanowie,stanowiska wspomagające,3.21,7089.823468
3,130919,0,uniformed services,stanowiska specjalistyczne,specjalista,4,1.0,1,"4940,34 zł brutto",Warszawa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,130837,1,vet,stanowiska specjalistyczne,inspektor weterynaryjny,3,1.0,1,nie podano wynagrodzenia,Świdnica,...,powiatowyinspektoratweterynariiwświdnicy,1.0,2.0,0.000000,0.833333,2023.0,powiatowyinspektoratweterynariiwświdnicy,stanowiska specjalistyczne,5.00,8146.666667

In [12]:
# Inspecting the correctness of the merge.
print(
    "Dataframe's total rows: " + str(second_merge_df.shape[0]) + "\n" +
    "Nulls: " + str(second_merge_df["zatr_etat"].isnull().sum())
)

Dataframe's total rows: 100847
Nulls: 30650

### Cleaning merged data

In [13]:
# Changing names.
second_merge_df["salary_for_position"] = second_merge_df["wynagrodzenie"]
second_merge_df["offer_salary"] = second_merge_df["salary"]
second_merge_df["women_percentage"] = second_merge_df["kobiety"]
second_merge_df["fluctuation"] = second_merge_df["fluktuacja"]
second_merge_df["employment_contract"] = second_merge_df["zatr_etat"]

# Removing duplicated columns.
second_merge_df.drop(columns=[
    "wynagrodzenie", "salary", "institution_merge_copy", "rok_x", "rok_y", "podmiot_x", "podmiot_y", "grupa_stanowisk", "kobiety", "fluktuacja", "zatr_etat"
], inplace=True)

In [14]:
second_merge_df.to_csv("merged_data_2.csv", index=False)