In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
import gdown
import zipfile
import os

In [20]:
# Loading data from GDrive.
file_id = "110IwUQC6J0RoDpJyC1SqBTzvGr-qQKua"
url = f"https://drive.google.com/uc?id={file_id}"
file_extension = "downloaded_file.csv"
gdown.download(url, file_extension, quiet=False)
df = pd.read_csv(file_extension, sep=",")

Downloading...
From (original): https://drive.google.com/uc?id=110IwUQC6J0RoDpJyC1SqBTzvGr-qQKua
From (redirected): https://drive.google.com/uc?id=110IwUQC6J0RoDpJyC1SqBTzvGr-qQKua&confirm=t&uuid=5148e57e-4bc3-40ce-abd1-cb49f11d2f5d
To: C:\Users\Konrad\Desktop\Magisterka\Kod\2024-mgr-sluzba-cywilna\Python\Code\downloaded_file.csv
100%|██████████| 252M/252M [00:09<00:00, 27.2MB/s]

##### Merging with Teryt - data about location for geopandas.

In [8]:
# Loading data.
file_id = "16YMXsOSYkQLncm0nqfqw5Z7mAW8TF-ql"
url = f"https://drive.google.com/uc?id={file_id}"
file_extension = "downloaded_file.csv"
gdown.download(url, file_extension, quiet=False)
teryt = pd.read_csv(file_extension, sep=",")

Downloading...
From: https://drive.google.com/uc?id=16YMXsOSYkQLncm0nqfqw5Z7mAW8TF-ql
To: C:\Users\Konrad\Desktop\Magisterka\Kod\2024-mgr-sluzba-cywilna\Python\Code\downloaded_file.csv
100%|██████████| 1.32M/1.32M [00:00<00:00, 11.9MB/s]

   job_id  WOJ  POW
0  131450   14   65
1  131558   28   16
2  131502   14   65
3  131510    6    4
4  131408   14   65

In [7]:
# Merging data.
df_with_teryt = pd.merge(df, teryt, left_on=['ad_id'], right_on=['job_id'], how="left")

# Name changes.
df_with_teryt["voivodeship"] = df_with_teryt["WOJ"]
df_with_teryt["district"] = df_with_teryt["POW"]
df_with_teryt.drop(columns=[
    "WOJ", "POW", "job_id"
], inplace=True)
df_with_teryt.head()

,ad_id,result,job_field,position_category,position,education_level,work_time,vacancies,city,institution,...,year_announced,promocja,kandydaci,salary_for_position,offer_salary,women_percentage,fluctuation,employment_contract,voivodeship,district
0,130994,1,vet,stanowiska samodzielne,inspektor weterynaryjny,3,0.5,1,Olesno,Powiatowy Inspektorat Weterynarii w Oleśnie,...,2023,1.0,1.0,NaN,nie podano wynagrodzenia,0.666667,0.064683,1.19,16,8
1,130970,0,tech/construction,stanowiska samodzielne,starszy specjalista,3,1.0,1,Bydgoszcz,Wojewódzki Inspektorat Nadzoru Budowlanego w B...,...,2023,0.0,4.0,NaN,nie podano wynagrodzenia,0.580645,0.036010,0.50,4,61
2,130898,1,vet,stanowiska samodzielne,asystent,2,1.0,1,Chrzanów,Powiatowy Inspektorat Weterynarii w Chrzanowie,...,2023,0.0,18.0,NaN,"4400,00 zł brutto",0.833333,0.101215,NaN,12,3
3,130919,0,uniformed services,stanowiska samodzielne,specjalista,4,1.0,1,Warszawa,Komenda Stołeczna Policji w Warszawie,...,2023,NaN,NaN,NaN,"4940,34 zł brutto",NaN,NaN,NaN,14,65
4,130837,1,vet,stanowiska samodzielne,inspektor weterynaryjny,3,1.0,1,Świdnica,Powiatowy Inspektorat Weterynarii w Świdnicy,...,2023,1.0,2.0,10268.888889,nie podano wynagrodzenia,0.833333,0.000000,3.00,2,19

### Visualisations

In [25]:
# Now I'm downloading the whole folder from GDrive, which comes as ZIP.
file_id = "1kh8xFFlBgsYcD1D4_QX3C7Z19csvCfvo"
url = f"https://drive.google.com/uc?id={file_id}"
file_extension = "downloaded_file.zip"
gdown.download(url, file_extension, quiet=False)

with zipfile.ZipFile(file_extension, 'r') as zip_ref:
    zip_ref.extractall("wojewodztwa")

# The first is the downloaded ZIP, the second is the zipped folder, and finally, the file.
shapefile_path = os.path.join("wojewodztwa", "wojewodztwa", "wojewodztwa.shp")
wojewodztwa = gpd.read_file(shapefile_path)

Downloading...
From: https://drive.google.com/uc?id=1kh8xFFlBgsYcD1D4_QX3C7Z19csvCfvo
To: C:\Users\Konrad\Desktop\Magisterka\Kod\2024-mgr-sluzba-cywilna\Python\Code\downloaded_file.zip
100%|██████████| 5.41M/5.41M [00:00<00:00, 18.6MB/s]

In [ ]:
file_id = "1JuxIhxlp78fkZbqEijPQkRLCcEW9OsHw"
url = f"https://drive.google.com/uc?id={file_id}"
file_extension = "downloaded_file.zip"
gdown.download(url, file_extension, quiet=False)

with zipfile.ZipFile(file_extension, 'r') as zip_ref:
    zip_ref.extractall("powiaty")

shapefile_path = os.path.join("powiaty", "powiaty", "powiaty.shp")
powiaty = gpd.read_file(shapefile_path)

In [26]:
print(wojewodztwa.columns)

Index(['gml_id', 'JPT_SJR_KO', 'JPT_POWIER', 'JPT_KOD_JE', 'JPT_NAZWA_',
       'JPT_ORGAN_', 'JPT_JOR_ID', 'WERSJA_OD', 'WERSJA_DO', 'WAZNY_OD',
       'WAZNY_DO', 'JPT_KOD__1', 'JPT_NAZWA1', 'JPT_ORGAN1', 'JPT_WAZNA_',
       'ID_BUFORA_', 'ID_BUFORA1', 'ID_TECHNIC', 'IIP_PRZEST', 'IIP_IDENTY',
       'IIP_WERSJA', 'JPT_KJ_IIP', 'JPT_KJ_I_1', 'JPT_KJ_I_2', 'JPT_OPIS',
       'JPT_SPS_KO', 'ID_BUFOR_1', 'JPT_ID', 'JPT_POWI_1', 'JPT_KJ_I_3',
       'JPT_GEOMET', 'JPT_GEOM_1', 'SHAPE_LENG', 'SHAPE_AREA', 'REGON',
       'RODZAJ', 'geometry'],
      dtype='object')

In [17]:
print(powiaty.columns)

Index(['gml_id', 'JPT_SJR_KO', 'JPT_POWIER', 'JPT_KOD_JE', 'JPT_NAZWA_',
       'JPT_ORGAN_', 'JPT_JOR_ID', 'WERSJA_OD', 'WERSJA_DO', 'WAZNY_OD',
       'WAZNY_DO', 'JPT_KOD__1', 'JPT_NAZWA1', 'JPT_ORGAN1', 'JPT_WAZNA_',
       'ID_BUFORA_', 'ID_BUFORA1', 'ID_TECHNIC', 'IIP_PRZEST', 'IIP_IDENTY',
       'IIP_WERSJA', 'JPT_KJ_IIP', 'JPT_KJ_I_1', 'JPT_KJ_I_2', 'JPT_OPIS',
       'JPT_SPS_KO', 'ID_BUFOR_1', 'JPT_ID', 'JPT_POWI_1', 'JPT_KJ_I_3',
       'JPT_GEOMET', 'JPT_GEOM_1', 'SHAPE_LENG', 'SHAPE_AREA', 'REGON',
       'RODZAJ', 'geometry'],
      dtype='object')

In [13]:
#wojewodztwa.plot(figsize=(10, 10), edgecolor='black')